html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #B0BEC5;
    display: table;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}


.title {
    font-size: 72px;
    margin-bottom: 40px;
}

.returnHome {
    font-size: 40px;
    margin-top: 40px;
}